<!DOCTYPE hmtl>
<html ng-app="notesApp">
<head>
	<title>Notes App</title>
</head>

<body ng-controller="MainCtrl as ctrl">
	<nav>
		<ul>
			<li><a href="/index.html">Index</a></li>
		</ul>
	</nav>
	
	<div>
		<h2>What are your favorite sports?</h2>
		<div ng-repeat="sport in ctrl.sports">
			<label ng-bind="sport.label"></label>
			<div>
				With binding:
				<input type="checkbox"
					ng-model="sport.selected"
					ng-true-value="'TRUE'"
					ng-false-value="'FALSE'" />
			</div>
			<div>
				Using ng-checked
				<input type="checkbox"
					ng-checked="sport.selected === 'TRUE'" />
			</div>
			<div>
				Current state: {{sport.selected}}
			</div>
		</div>
	</div>
	
	<div ng-init="user = {gender: 'male'}">
		<input type="radio"
			name="gender"
			ng-model="user.gender"
			value="male" />
		<input type="radio"
			name="gender"
			ng-model="user.gender"
			value="female" />
	</div>
	
	<!-- book says this is limited to being hardcoded, I don't see why I can't use 
	thymeleaf to just add a list and iterate through as usual -->
	<div ng-init="location = 'India'">
		<select ng-model="location">
			<option value="USA">USA</option>
			<option value="India">India</option>
			<option value="Other">None of the above</option>
		</select>
	</div>
	
	<script src="/vendor/angular.min.js"></script>
	
	<script src="/chapter04/controller/controller-checkbox-example.js"></script>
	
</body>
</html>